<!-- greeting and change username -->
<div class="row">

		<h3>Hello {{user}}</h3>
		<div class="col-xs-12">
			<input type="text" ng-model="changedUsername"  placeholder="New Username!"/>
			<button ng-click="onChangeUsername()">Change Username!</button>
		</div>
</div>

<!-- list of available rooms -->
<h4>available rooms:</h4>
<ul>
	<li ng-repeat="(key, room) in roomlist">
		<span>{{key}}</span>
		<span>
			<a ng-href="#/room/{{key}}">Join!</a>
		</span>
		
	</li>
</ul>

<!--create room -->
<div>
	<form novalidate>
		<div class="form-group">
			<input type="text" ng-model="createRoomTextbox" placeholder="Room Name..." required>
			<button class="btn btn-primary" ng-click="onCreateRoom()">Create Room!</button>
		</div>

	</form>
</div>

<!--logout-->
<div class="col-xs-12">
	<button ng-click="onLogout()">Logout</button>
</div>	

<!--error messages for this view-->
<div class="row">
	<div class="col-xs-12">
		{{errorMessage}}
	</div>
</div>

