<div>
		<a ng-click="onLeave()" ng-href="#/rooms" >
			<h1>leave!</h1>
		</a>
</div>


<form>
	<textarea ng-model="newMessage" id="newMessage" autofocus>Type a message here...</textarea>
	<button type="submit" ng-click="onSendMessage()">Send!</button>
</form>

<h2>Admins:</h2>
<ul >
	<div ng-repeat="op in opList">
		<span>
			<li>{{op}}</li>
		</span>
		<span>
			<button ng-click="onPrivateMessage(op)">Message!</button>
		</span>
	</div>
</ul>

<h2>Users:</h2>
<ul>
	<div ng-repeat="user in userList">
		<span>
			<li>{{user}}</li>
			</span>
		<span>
			<button ng-click="onPrivateMessage(user)">Message!</button>
		</span>
	</div>	
</ul>


<h2>Messages:</h2>

<div>
	<div ng-repeat="message in messageList">							
			<h3>{{message.nick}}</h3>
			<h5>{{message.timestamp | date:"dd/MM/yyyy HH:mm"}}</h5>
			<p>{{message.message}}<p>
	</div>
</div>

<div>
	{{errorMessage}}
</div>