<div>
	{{errorMessage}}
</div>

<div>
	<a ng-click="onLeave()" ng-href="#/rooms" >
		<h1>leave!</h1>
	</a>
</div>

<h2>Admins:</h2>
<div ng-repeat="op in opList">
	<span>{{op}}</span>
	<span>
		<a ng-href="#/pmroom/{{op}}">private message</a>
	</span>
</div>	

<h2>Users:</h2>
<ul>
	<div ng-repeat="user in userList">
		<span>
			<li>{{user}}</li>
			</span>
		<span>
			<a ng-href="#/pmroom/{{user}}">private message</a>
		</span>
		<span>
			<button ng-hide="userIsNotAdmin" ng-click="onKick(user)">Kick!</button>
		</span>
		<span>
			<button ng-hide="userIsNotAdmin" ng-click="onBan(user)">Ban!</button>
		</span>
		<span>
			<button ng-hide="userIsNotAdmin" ng-click="onOp(user)">Op!</button>
		</span>
	</div>
</ul>


<h2>Messages:</h2>

<div>
	<div ng-repeat="message in messageList">							
			<p><b>{{message.nick}}</b><em>{{message.timestamp | date:" dd/MM/yyyy HH:mm"}}</em></p>
			<p>{{message.message}}<p>
			<p>_____________________________________________________________</p>
	</div>
</div>

<form>
	<textarea ng-model="newMessage" id="newMessage" autofocus  placeholder="Type a message here..."></textarea>
	<br>
	<button type="submit" ng-click="onSendMessage()">Send</button>
</form>



